

.slideshow-container {

  position: relative;
  margin: auto;

  
  
}
.slideshow-container img{
  width:100%;
  height:60vh;
  object-fit: cover;
}
@media (max-width: 576px) {
  .slideshow-container img {
    height: 50vh;
  }
}

@media (max-width: 450px) {
  .slideshow-container img {
    height: 200px;
  }
}


.text-box1 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 450px) {
    .text {font-size: 9px}
    .text-box  {
      font-size: 1rem;
    
    }
  }
  .text-box {
    position: absolute;
    
    top: 40%;
    left: 5%;
    color:#fff;
    animation: textUp 9s linear infinite;
  }
  .text-box  {
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  @media only screen and (max-width: 450px) {
    
    .text-box  {
      font-size: 2rem;
    
    }
  }
  
  @keyframes textUp {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(40px);
    }
    100% {
      transform: translateY(80px);
    }
  }
  .text-box span {
    width: 100px;
    height: 1px;
    background-color: orange;
    position: absolute;
    left: 0;
  }

  .uparrow{
    float: right;
    bottom: 3px;
 }


    
  
  
  
